/* ChooseStorePage.css */

.container {
  width: 80vw; /* Set the width to 80% of the viewport width */
  height: 80vh; /* Set the height to 80% of the viewport height */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for better spacing */
  overflow: auto; /* Add scrollbars if the content exceeds the container size */
}
  
  .manage-store-header {
    color: white;
    font-size: 3rem;
    margin-top: 0;
  }
  
  .choose-store-header {
    color: white;
    font-size: 2rem; /* Adjusted font size */
    margin-bottom: 20px; /* Added margin */
  }
  
  .store-list {
    background-color: #ffffff;
    border-radius: 44px;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
  }
  
  .store-item {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .store-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .store-item:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last store item */
  }
  