/* RevenuesPage.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    height: 90vh;
  }
  
  .revenues-header {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black; /* Change text color as needed */
  }
  
  .revenues-table {
    background-color: #39cccc;
    border-radius: 44px;
    box-shadow: 10px 8px 4px 0px #00000040;
    width: 800px;
    height: 600px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .revenues-table table {
    width: 100%;
  }
  
  .revenues-table th,
  .revenues-table td {
    padding: 10px;
    text-align: center;
  }
  
  .revenues-table th {
    background-color: #ffffff; /* White background for table headers */
  }
  
  .revenues-table td {
    background-color: #f0f0f0; /* Light gray background for table cells */
  }
  