.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .orders-header {
    color: #000;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .orders-table {
    background-color: #39cccc;
    border-radius: 44px;
    box-shadow: 10px 8px 4px 0px #00000040;
    width: 800px;
    height: 600px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .orders-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orders-table th,
  .orders-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #fff;
  }
  
  .orders-table th {
    background-color: #0077b6;
    color: #fff;
  }
  
  .orders-table tbody tr:nth-child(even) {
    background-color: #bde4f7;
  }
  
  .orders-table tbody tr:hover {
    background-color: #9fd7ef;
  }
  